@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600&display=swap');

/* This makes some browser-specific elements look neater, such as dark scrollbars */
:root {
    --foreground: black;
    --background: white;
    --background-secondary: #c0c0c0;
    --background-tertiary: #a7a7a7;
    --border: #aaa;
    --link: #29f;
    --red: #f44;
    --darker: #888;
    --nav-shadow: #00000010;
    @media (prefers-color-scheme: dark) {
        --foreground: white;
        --background: #0F0F0F;
        --background-secondary: #151515;
        --background-tertiary: #212121;
        --border: #555;
        --link: #4cd;
        --red: #f88;
        --darker: black;
        --nav-shadow: #ffffff10;
        color-scheme: dark;

        nav img {
            filter: none;
        }
    }
}

body {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100vh;

    margin: 0;

    color: var(--foreground);
    background: var(--background);

    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.1em;
}

nav {
    /* This positioning will only be active on mobile */
    position: absolute;
    width: 100vw;
    height: calc(15px + 48px); /* Set the height relative to the padding to only show the menu icon */
    max-height: max-content;
    box-sizing: border-box;

    padding: 15px 30px;
    background: var(--background);

    /* Don't let the user scroll when only the menu icon is shown */
    overflow: hidden;

    font-weight: 600;
    font-size: 1.2em;

    /* Animate menu opening and closing on mobile */
    z-index: 1;
    transition: height .3s ease;

    overscroll-behavior: none;
}

#last-modified {
    font-size: 0.75em;
    text-align: center;
}
#last-modified a {
    display: inline;
}

/* Push the nav links block to the bottom of the nav when
    there is extra vertical space. */
#nav-links {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin-top: auto;
    text-align: center;
}

#nav-links a {
    color: inherit;
    padding: 0.2em 0.2em;
    margin: auto;
}

nav img {
    float: left;
    padding-right: 1em;
    filter: invert(100%);
}

nav h2 {
    margin: 0px;
    height: 48px;
    line-height: 48px;
}

/* This class gets applied when the menu is opened on mobile */
nav.visible {
    overflow: scroll;
}

nav a {
    display: block;
}

main {
    padding: 0 20px;
    margin-top: calc(30px + 48px); /* Offset the main content to appear under the menu on mobile */
    overflow: auto;
}

main > div {
    margin-bottom: 2em;
}

a {
    color: var(--link);
    text-decoration: none;
    margin-bottom: 0.15em;
}
main a {
    font-weight: 600;
}

nav .navindent {
    display: flex;
    flex-direction: column;

    padding-left: 20px;
    font-size: 0.9em;
}

code, time {
    padding: 1px 2px;

    background: var(--background-secondary);

    border: 1px solid var(--border);
    border-radius: 5px;
}

td, th {
    padding-left: 0.3em;
    padding-right: 0.3em;
    text-align: left;
}

td img {
    display: block;
    margin: auto;
    max-width: 256px;
    max-height: 192px;
}

tr.hidden {
    display: none;
}

:nth-child(odd of tr:not(.hidden)) {
    background: var(--background-secondary);
}
:nth-child(even of tr:not(.hidden)) {
    background: var(--background-tertiary);
}
.red {
    color: var(--red);
}

h1 {
    font-size: 2.7em;
    margin: 0rem 0 1.5rem 0;
    display: none;
}
h2 {
    font-size: 2.1em;
    margin: 1.0rem 0 0.1rem 0;
}
h3 {
    font-size: 1.6em;
    margin: 1.0rem 0 0.1rem 0;
}
h4 {
    font-size: 1.1em;
    margin: 1.0rem 0 0.1rem 0;
}
h5 {
    font-size: 0.9em;
    margin: 1.0rem 0 0.1rem 0;
}
h6 {
    font-size: 0.8em;
    margin: 1.0rem 0 0.1rem 0;
}
.anchor {
    vertical-align: middle;
    font-size: 1rem;
    margin-right: 0.5em;
    color: inherit;
    transition: color .3s ease;
}

p {
    margin: 0.7em 0 0.5em 0;
}

p, li {
    /* Break words if they are longer than the screen width */
    overflow-wrap: break-word;
}

.categories {
    display: flex;
    gap: 1.4em;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;

    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.5em;
}

.category {
    display: flex;
    flex-direction: column;

    width: 25rem;
    padding: 1em;

    background: var(--background-tertiary);
    border-radius: 1%;
    filter: drop-shadow(0px 0px 5px var(--darker));
}

.category h5 {
    margin-top: 0;
    font-size: 1.3em;
    text-align: center;
}

.category .objective, .category .notes {
    text-align: center;
}

.category hr {
    color: var(--border);
    width: 100%;
    margin: 1em 0 1em 0;
}

table.commands tbody {
    display: block;

    max-width: calc(100vw - 2 * 20px); /* 20px is the horizontal padding on "main" */
    max-height: 30em;
    overflow: auto;
    border: 2px solid var(--border);
}

table.commands tr:nth-child(1) {
    position: sticky;
    top: 0;
}

/* Large screens only */
@media (min-width: 800px) {
    body {
        grid-template-columns: max-content 1fr;
    }

    nav {
        display: flex;
        flex-direction: column;
        position: unset;
        width: auto;
        height: 100vh;
        max-height: unset;
        overflow: auto;
    }

    /* Hide the menu icon */
    nav img, nav h2 {
        display: none;
    }

    /* Remove the top offset */
    main {
        margin: 0;
    }

    h1 {
        display: initial;
    }
}
