@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600&display=swap');

/* This makes some browser-specific elements look neater, such as dark scrollbars */
:root {
    color-scheme: dark;
}

body {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100vh;

    margin: 0;

    color: #f8f8f8;
    background: #212121;

    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.1em;
}

nav {
    /* This positioning will only be active on mobile */
    position: absolute;
    width: 100vw;
    height: calc(15px + 48px); /* Set the height relative to the padding to only show the menu icon */
    box-sizing: border-box;

    padding: 15px 30px;
    background: #212121;

    /* Don't let the user scroll when only the menu icon is shown */
    overflow: hidden;

    font-weight: 600;
    font-size: 1.2em;

    /* Animate menu opening and closing on mobile */
    z-index: 1;
    transition: .3s ease;

    overscroll-behavior: none;
}

/* FIXME: Maybe push these links to the bottom of the screen if we have space on desktop? */
#nav-links {
    position: relative;
    width: 100%;
    margin-top: 0.3em;
    text-align: center;
    font-size: 2em;
}

#nav-links a {
    color: inherit;
    padding: 0.2em 0.5em;
    margin: auto;
}

nav img {
    float: left;
    padding-right: 1em;
}

nav h2 {
    margin: 0px;
    height: 48px;
    line-height: 48px;
}

/* This class gets applied when the menu is opened on mobile */
nav.visible {
    height: 100vh;
    overflow: scroll;
}

nav a {
    display: block;
}

main {
    padding: 0 20px;
    margin-top: calc(30px + 48px); /* Offset the main content to appear under the menu on mobile */
    overflow: auto;
}

a {
    color: #4cd;
    text-decoration: none;
    margin-bottom: 0.15em;
}

nav .navindent {
    display: flex;
    flex-direction: column;

    padding-left: 20px;
    font-size: 0.9em;
}

:not(td) > code, time {
    padding: 1px 2px;

    background: #3a3a3a;

    border: 1px solid #555;
    border-radius: 5px;
}

td, th {
    padding-left: 0.3em;
    padding-right: 0.3em;
    text-align: left;
}

tr.hidden {
    display: none;
}

:nth-child(odd of tr:not(.hidden)) {
    background: #383838;
}
:nth-child(even of tr:not(.hidden)) {
    background: #2a2a2a;
}

h1 {
    font-size: 2.7em;
    margin: 0rem 0 1.5rem 0;
    display: none;
}
h2 {
    font-size: 2.1em;
    margin: 1.0rem 0 0.1rem 0;
}
h3 {
    font-size: 1.6em;
    margin: 1.0rem 0 0.1rem 0;
}
h4 {
    font-size: 1.1em;
    margin: 1.0rem 0 0.1rem 0;
}
h5 {
    font-size: 0.9em;
    margin: 1.0rem 0 0.1rem 0;
}
p {
    margin: 0.7em 0 0.5em 0;
}

p, li {
    /* Break words if they are longer than the screen width */
    overflow-wrap: break-word;
}

.categories {
    display: flex;
    gap: 1.4em;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;

    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.5em;
}

.category {
    display: flex;
    flex-direction: column;

    width: 25rem;
    padding: 1em;

    background: #141414;
    border-radius: 3px;
}

.category h5 {
    margin-top: 0;
    font-size: 1.3em;
    text-align: center;
}

.category .objective, .category .notes {
    text-align: center;
}

.category hr {
    color: white;
    width: 100%;
    margin: 1em 0 1em 0;
}

table.commands tbody {
    display: block;

    max-width: calc(100vw - 2 * 20px); /* 20px is the horizontal padding on "main" */
    min-height: 30em;
    max-height: 30em;
    overflow: auto;
}

table.commands tr:nth-child(1) {
    position: sticky;
    top: 0;
}

/* Large screens only */
@media (min-width: 800px) {
    /* ""Undo"" all the mobile styling */
    nav {
        position: unset;
        width: unset;
        height: unset;
        overflow: auto;
    }

    /* Hide the menu icon */
    nav img, nav h2 {
        display: none;
    }

    /* Remove the top offset */
    main {
        margin: 0;
    }

    h1 {
        display: initial;
    }
}
